--
-- PostgreSQL database dump
--

\restrict rybjtHFWeg9uCXsPly6LmqSnaja0Mb7lRVmyzqSdOQcdAXyvuzooiHJj63nzTTX

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: abhishek_master; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.abhishek_master (
    id bigint NOT NULL,
    name_hi character varying(100) NOT NULL,
    name_en character varying(100) NOT NULL,
    price numeric(10,2) NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.abhishek_master OWNER TO temple;

--
-- Name: abhishek_master_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

CREATE SEQUENCE public.abhishek_master_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.abhishek_master_id_seq OWNER TO temple;

--
-- Name: abhishek_master_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temple
--

ALTER SEQUENCE public.abhishek_master_id_seq OWNED BY public.abhishek_master.id;


--
-- Name: amenity; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.amenity (
    id bigint NOT NULL,
    is_active boolean NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.amenity OWNER TO temple;

--
-- Name: amenity_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.amenity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.amenity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    action character varying(255),
    performed_by character varying(255),
    remarks character varying(255),
    target_user character varying(255),
    "timestamp" timestamp(6) without time zone
);


ALTER TABLE public.audit_logs OWNER TO temple;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.audit_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: damaged_inventory; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.damaged_inventory (
    inventory_item_id bigint NOT NULL,
    total_damaged_qty integer DEFAULT 0 NOT NULL,
    last_updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.damaged_inventory OWNER TO temple;

--
-- Name: donation; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.donation (
    id bigint NOT NULL,
    address character varying(255) NOT NULL,
    amount numeric(38,2) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by character varying(255) NOT NULL,
    donor_name character varying(255) NOT NULL,
    gotra_id character varying(255),
    gotra_name_en character varying(255),
    gotra_name_hi character varying(255),
    mobile character varying(10) NOT NULL,
    payment_type character varying(255) NOT NULL,
    purpose_id bigint NOT NULL,
    purpose_name_en character varying(255) NOT NULL,
    purpose_name_hi character varying(255) NOT NULL,
    receipt_number character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.donation OWNER TO temple;

--
-- Name: donation_audit; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.donation_audit (
    id bigint NOT NULL,
    donation_id bigint NOT NULL,
    action character varying(255) NOT NULL,
    old_data text,
    new_data text,
    performed_by character varying(255) NOT NULL,
    performed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.donation_audit OWNER TO temple;

--
-- Name: donation_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

CREATE SEQUENCE public.donation_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.donation_audit_id_seq OWNER TO temple;

--
-- Name: donation_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temple
--

ALTER SEQUENCE public.donation_audit_id_seq OWNED BY public.donation_audit.id;


--
-- Name: donation_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.donation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.donation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: donation_purpose; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.donation_purpose (
    id bigint NOT NULL,
    active boolean NOT NULL,
    fixed_amount numeric(38,2),
    name_en character varying(255) NOT NULL,
    name_hi character varying(255) NOT NULL,
    version bigint NOT NULL,
    requires_gotra boolean DEFAULT false NOT NULL,
    receipt_prefix character varying(5) NOT NULL
);


ALTER TABLE public.donation_purpose OWNER TO temple;

--
-- Name: donation_purpose_audit; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.donation_purpose_audit (
    id bigint NOT NULL,
    action character varying(255) NOT NULL,
    change_summary text,
    donation_purpose_id bigint NOT NULL,
    performed_at timestamp(6) without time zone NOT NULL,
    performed_by character varying(255) NOT NULL
);


ALTER TABLE public.donation_purpose_audit OWNER TO temple;

--
-- Name: donation_purpose_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.donation_purpose_audit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.donation_purpose_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: donation_purpose_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.donation_purpose ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.donation_purpose_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gotra; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.gotra (
    id character varying(255) NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    created_by character varying(255),
    english_name character varying(255) NOT NULL,
    hindi_name character varying(255) NOT NULL
);


ALTER TABLE public.gotra OWNER TO temple;

--
-- Name: inventory_item; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.inventory_item (
    id bigint NOT NULL,
    category character varying(255) NOT NULL,
    material_name_hi character varying(255) NOT NULL,
    unit character varying(255) NOT NULL,
    rate numeric(38,2) NOT NULL,
    total_stock integer NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.inventory_item OWNER TO temple;

--
-- Name: inventory_item_audit; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.inventory_item_audit (
    id bigint NOT NULL,
    inventory_item_id bigint NOT NULL,
    action character varying(255) NOT NULL,
    changed_by character varying(255) NOT NULL,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    old_value text,
    new_value text
);


ALTER TABLE public.inventory_item_audit OWNER TO temple;

--
-- Name: inventory_item_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.inventory_item_audit ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.inventory_item_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_item_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.inventory_item ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.inventory_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: receipt_sequence_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

CREATE SEQUENCE public.receipt_sequence_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.receipt_sequence_id_seq OWNER TO temple;

--
-- Name: receipt_sequence; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.receipt_sequence (
    id bigint DEFAULT nextval('public.receipt_sequence_id_seq'::regclass) NOT NULL,
    series character varying(30) NOT NULL,
    year integer NOT NULL,
    last_sequence bigint NOT NULL,
    version bigint NOT NULL
);


ALTER TABLE public.receipt_sequence OWNER TO temple;

--
-- Name: rental; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.rental (
    id bigint NOT NULL,
    receipt_number character varying(255) NOT NULL,
    category character varying(255) NOT NULL,
    customer_name character varying(255) NOT NULL,
    mobile character varying(255),
    address character varying(255),
    aadhaar character varying(255) DEFAULT '000'::character varying,
    calculated_total_amount numeric(38,2) NOT NULL,
    charged_amount numeric(38,2) NOT NULL,
    deposit_amount numeric(38,2) DEFAULT 0,
    total_fine_amount numeric(38,2) DEFAULT 0,
    total_refund_amount numeric(38,2) DEFAULT 0,
    status character varying(255) NOT NULL,
    created_by character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone
);


ALTER TABLE public.rental OWNER TO temple;

--
-- Name: rental_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

CREATE SEQUENCE public.rental_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rental_id_seq OWNER TO temple;

--
-- Name: rental_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temple
--

ALTER SEQUENCE public.rental_id_seq OWNED BY public.rental.id;


--
-- Name: rental_item; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.rental_item (
    id bigint NOT NULL,
    rental_id bigint NOT NULL,
    inventory_item_id bigint NOT NULL,
    item_name_snapshot character varying(255) NOT NULL,
    rate_at_issue numeric(38,2) NOT NULL,
    issued_qty integer NOT NULL,
    returned_qty integer DEFAULT 0,
    damaged_qty integer DEFAULT 0,
    missing_qty integer DEFAULT 0
);


ALTER TABLE public.rental_item OWNER TO temple;

--
-- Name: rental_item_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

CREATE SEQUENCE public.rental_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rental_item_id_seq OWNER TO temple;

--
-- Name: rental_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temple
--

ALTER SEQUENCE public.rental_item_id_seq OWNED BY public.rental_item.id;


--
-- Name: rental_receipt_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

CREATE SEQUENCE public.rental_receipt_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rental_receipt_seq OWNER TO temple;

--
-- Name: rental_return; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.rental_return (
    id bigint NOT NULL,
    rental_id bigint NOT NULL,
    return_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fine_amount double precision DEFAULT 0,
    remarks character varying(255),
    created_by character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.rental_return OWNER TO temple;

--
-- Name: rental_return_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

CREATE SEQUENCE public.rental_return_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rental_return_id_seq OWNER TO temple;

--
-- Name: rental_return_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: temple
--

ALTER SEQUENCE public.rental_return_id_seq OWNED BY public.rental_return.id;


--
-- Name: room; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.room (
    id bigint NOT NULL,
    base_rent24hr numeric(38,2),
    base_rent3hr numeric(38,2),
    base_rent6hr numeric(38,2),
    base_rent_fixed numeric(38,2),
    block_name character varying(255),
    cleaning_status character varying(255),
    created_at timestamp(6) without time zone,
    default_security_deposit numeric(38,2),
    floor character varying(255),
    is_active boolean,
    max_occupancy integer,
    remarks character varying(255),
    room_number character varying(255) NOT NULL,
    status character varying(255),
    updated_at timestamp(6) without time zone,
    category_id bigint NOT NULL,
    CONSTRAINT room_cleaning_status_check CHECK (((cleaning_status)::text = ANY ((ARRAY['CLEAN'::character varying, 'DIRTY'::character varying, 'CLEANING_IN_PROGRESS'::character varying])::text[]))),
    CONSTRAINT room_status_check CHECK (((status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'MAINTENANCE'::character varying, 'BLOCKED'::character varying])::text[])))
);


ALTER TABLE public.room OWNER TO temple;

--
-- Name: room_amenity; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.room_amenity (
    id bigint NOT NULL,
    quantity integer,
    amenity_id bigint NOT NULL,
    room_id bigint NOT NULL
);


ALTER TABLE public.room_amenity OWNER TO temple;

--
-- Name: room_amenity_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.room_amenity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_amenity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_audit; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.room_audit (
    id bigint NOT NULL,
    action character varying(255),
    details character varying(2000),
    performed_at timestamp(6) without time zone,
    performed_by character varying(255),
    room_id bigint
);


ALTER TABLE public.room_audit OWNER TO temple;

--
-- Name: room_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.room_audit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_booking; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.room_booking (
    id bigint NOT NULL,
    actual_check_in_time timestamp(6) without time zone,
    actual_check_out_time timestamp(6) without time zone,
    base_amount numeric(38,2),
    booking_number character varying(255) NOT NULL,
    booking_type character varying(255),
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    customer_name character varying(255),
    deduction_from_deposit numeric(38,2),
    extra_charge_amount numeric(38,2),
    extra_surcharge_amount numeric(38,2),
    gross_amount numeric(38,2),
    id_proof_number character varying(255),
    id_proof_type character varying(255),
    mobile_number character varying(255),
    net_payable_amount numeric(38,2),
    scheduled_check_in timestamp(6) without time zone,
    scheduled_check_out timestamp(6) without time zone,
    security_deposit numeric(38,2),
    shifted_from_booking_id bigint,
    shifted_to_booking_id bigint,
    status character varying(255),
    room_id bigint NOT NULL,
    CONSTRAINT room_booking_booking_type_check CHECK (((booking_type)::text = ANY ((ARRAY['TWENTY_FOUR_HOUR'::character varying, 'FIXED_SLOT'::character varying, 'THREE_HOUR'::character varying, 'SIX_HOUR'::character varying])::text[]))),
    CONSTRAINT room_booking_id_proof_type_check CHECK (((id_proof_type)::text = ANY ((ARRAY['AADHAR'::character varying, 'DRIVING_LICENSE'::character varying, 'GOVT_ID'::character varying])::text[]))),
    CONSTRAINT room_booking_status_check CHECK (((status)::text = ANY ((ARRAY['BOOKED'::character varying, 'CHECKED_IN'::character varying, 'CHECKED_OUT'::character varying, 'CANCELLED'::character varying, 'ROOM_SHIFTED'::character varying])::text[])))
);


ALTER TABLE public.room_booking OWNER TO temple;

--
-- Name: room_booking_audit; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.room_booking_audit (
    id bigint NOT NULL,
    action character varying(255),
    booking_id bigint,
    details character varying(2000),
    performed_at timestamp(6) without time zone,
    performed_by character varying(255)
);


ALTER TABLE public.room_booking_audit OWNER TO temple;

--
-- Name: room_booking_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.room_booking_audit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_booking_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.room_booking ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_booking_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

CREATE SEQUENCE public.room_booking_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.room_booking_seq OWNER TO temple;

--
-- Name: room_category; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.room_category (
    id bigint NOT NULL,
    description character varying(255),
    is_active boolean NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.room_category OWNER TO temple;

--
-- Name: room_category_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.room_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: room_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.room ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: temple
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    aadhaar_last4 character varying(4),
    added_by character varying(255),
    address character varying(255),
    date_of_joining date,
    dob date,
    email character varying(255),
    force_password_change boolean NOT NULL,
    is_active boolean NOT NULL,
    name character varying(255),
    password character varying(255) NOT NULL,
    phone character varying(255),
    role character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    account_locked boolean DEFAULT false,
    failed_login_attempts integer DEFAULT 0
);


ALTER TABLE public.users OWNER TO temple;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: temple
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: abhishek_master id; Type: DEFAULT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.abhishek_master ALTER COLUMN id SET DEFAULT nextval('public.abhishek_master_id_seq'::regclass);


--
-- Name: donation_audit id; Type: DEFAULT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.donation_audit ALTER COLUMN id SET DEFAULT nextval('public.donation_audit_id_seq'::regclass);


--
-- Name: rental id; Type: DEFAULT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.rental ALTER COLUMN id SET DEFAULT nextval('public.rental_id_seq'::regclass);


--
-- Name: rental_item id; Type: DEFAULT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.rental_item ALTER COLUMN id SET DEFAULT nextval('public.rental_item_id_seq'::regclass);


--
-- Name: rental_return id; Type: DEFAULT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.rental_return ALTER COLUMN id SET DEFAULT nextval('public.rental_return_id_seq'::regclass);


--
-- Data for Name: abhishek_master; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.abhishek_master (id, name_hi, name_en, price, active) FROM stdin;
1	αñ╕αñéαñòαñ▓αÑìαñ¬	Sankalp	301.00	t
\.


--
-- Data for Name: amenity; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.amenity (id, is_active, name) FROM stdin;
1	t	BED
2	t	LED TV
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: temple
--



--
-- Data for Name: damaged_inventory; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.damaged_inventory (inventory_item_id, total_damaged_qty, last_updated_at) FROM stdin;
\.


--
-- Data for Name: donation; Type: TABLE DATA; Schema: public; Owner: temple
--



--
-- Data for Name: donation_audit; Type: TABLE DATA; Schema: public; Owner: temple
--



--
-- Data for Name: donation_purpose; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.donation_purpose (id, active, fixed_amount, name_en, name_hi, version, requires_gotra, receipt_prefix) FROM stdin;
2	t	\N	Daan	αñªαñ╛αñ¿	0	f	DN
3	t	1500.00	Annadan	αñàαñ¿αÑìαñ¿αñªαñ╛αñ¿	0	f	AN
4	t	15000.00	Prasadam	αñ¬αÑìαñ░αñ╕αñ╛αñªαñ«	0	f	PR
5	t	\N	Mandir Nirman	αñ«αñéαñªαñ┐αñ░ αñ¿αñ┐αñ░αÑìαñ«αñ╛αñú	0	f	NM
1	t	301.00	Sankalp Abhishek	αñ╕αñéαñòαñ▓αÑìαñ¬ αñàαñ¡αñ┐αñ╖αÑçαñò	2	t	AB
\.


--
-- Data for Name: donation_purpose_audit; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.donation_purpose_audit (id, action, change_summary, donation_purpose_id, performed_at, performed_by) FROM stdin;
5	UPDATE	Updated donation purpose	1	2026-02-03 19:32:17.353032	admin2
6	UPDATE	Updated donation purpose	1	2026-02-03 19:32:23.98144	admin2
\.


--
-- Data for Name: gotra; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.gotra (id, created_at, created_by, english_name, hindi_name) FROM stdin;
gautam	2025-12-05 18:03:44.712645+00	admin-ui	gautam	αñùαÑîαññαñ«
Kashyapa	2026-02-08 17:01:02.480839+00	admin2	Kashyapa	αñòαñ╢αÑìαñ»αñ¬
Vasishta	2026-02-08 17:01:21.113698+00	admin2	Vasishta	αñ╡αñ╕αñ┐αñ╖αÑìαñá
Bhrigu	2026-02-08 17:01:37.977798+00	admin2	Bhrigu	αñ¡αÑâαñùαÑü
Bhardwaj	2025-12-05 13:29:45.123072+00	operator-123	Bhardwaj	αñ¡αñ╛αñ░αñªαÑìαñ╡αñ╛αñ£
Atri	2026-02-21 07:36:23.01688+00	admin2	Atri	αñàαññαÑìαñ░αñ┐
\.


--
-- Data for Name: inventory_item; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.inventory_item (id, category, material_name_hi, unit, rate, total_stock, is_active, created_at, updated_at) FROM stdin;
4	BICHAYAT	αñùαñªαÑìαñªαñ╛	Nos	150.00	20	t	2026-02-10 21:30:21.09165	2026-02-10 23:54:09.517561
1	BARTAN	αñùαñéαñ£ αñ¼αñíαñ╝αñ╛ (αñ£αñ░αÑìαñ«αñ¿)	NOS	46.00	18	t	2026-02-10 00:53:52.185766	2026-02-11 22:41:41.203104
2	BARTAN	αñùαñéαñ£ 	NOS	56.00	85	t	2026-02-10 01:47:58.321805	2026-02-11 22:41:41.205206
\.


--
-- Data for Name: inventory_item_audit; Type: TABLE DATA; Schema: public; Owner: temple
--



--
-- Data for Name: receipt_sequence; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.receipt_sequence (id, series, year, last_sequence, version) FROM stdin;
2	HALL	2026	0	0
3	PRASADAM	2026	0	0
1	DONATION	2026	15	15
\.


--
-- Data for Name: rental; Type: TABLE DATA; Schema: public; Owner: temple
--



--
-- Data for Name: rental_item; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.rental_item (id, rental_id, inventory_item_id, item_name_snapshot, rate_at_issue, issued_qty, returned_qty, damaged_qty, missing_qty) FROM stdin;
1	1	1	αñùαñéαñ£ αñ¼αñíαñ╝αñ╛ (αñ£αñ░αÑìαñ«αñ¿)	46.00	10	9	1	0
2	1	2	αñùαñéαñ£ 	56.00	5	5	0	0
4	2	2	αñùαñéαñ£ 	56.00	3	0	0	0
6	4	1	αñùαñéαñ£ αñ¼αñíαñ╝αñ╛ (αñ£αñ░αÑìαñ«αñ¿)	46.00	4	0	0	0
3	2	1	αñùαñéαñ£ αñ¼αñíαñ╝αñ╛ (αñ£αñ░αÑìαñ«αñ¿)	46.00	5	5	0	0
5	3	4	αñùαñªαÑìαñªαñ╛	150.00	2	2	0	0
7	5	1	αñùαñéαñ£ αñ¼αñíαñ╝αñ╛ (αñ£αñ░αÑìαñ«αñ¿)	46.00	6	0	0	0
8	5	2	αñùαñéαñ£ 	56.00	12	0	0	0
\.


--
-- Data for Name: rental_return; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.rental_return (id, rental_id, return_date, fine_amount, remarks, created_by, created_at) FROM stdin;
1	1	2026-02-10 21:05:28.299279	100	αñÅαñò αñùαñéαñ£ αñ¼αñíαñ╝αñ╛ αñƒαÑéαñƒ αñùαñ»αñ╛	admin	2026-02-10 21:05:28.323405
2	1	2026-02-10 21:06:02.331995	50	αñ¼αñ╛αñòαÑÇ αñ╕αñ╛αñ░αñ╛ αñ╕αñ╛αñ«αñ╛αñ¿ αñ╡αñ╛αñ¬αñ╕	admin	2026-02-10 21:06:02.342848
3	2	2026-02-10 23:53:51.803649	0	0	admin2	2026-02-10 23:53:51.870865
4	3	2026-02-10 23:54:09.489759	0	0	admin2	2026-02-10 23:54:09.512474
\.


--
-- Data for Name: room; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.room (id, base_rent24hr, base_rent3hr, base_rent6hr, base_rent_fixed, block_name, cleaning_status, created_at, default_security_deposit, floor, is_active, max_occupancy, remarks, room_number, status, updated_at, category_id) FROM stdin;
2	1500.00	1500.00	1500.00	1500.00	B	CLEAN	2026-02-19 23:24:35.160753	500.00	1	t	3		102	AVAILABLE	2026-02-21 11:25:31.712392	2
1	1000.00	400.00	700.00	900.00	A	DIRTY	2026-02-18 01:20:58.569311	500.00	1	t	3	Near temple entrance	101	AVAILABLE	2026-02-21 12:20:01.840215	1
\.


--
-- Data for Name: room_amenity; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.room_amenity (id, quantity, amenity_id, room_id) FROM stdin;
\.


--
-- Data for Name: room_audit; Type: TABLE DATA; Schema: public; Owner: temple
--



--
-- Data for Name: room_booking; Type: TABLE DATA; Schema: public; Owner: temple
--



--
-- Data for Name: room_booking_audit; Type: TABLE DATA; Schema: public; Owner: temple
--



--
-- Data for Name: room_category; Type: TABLE DATA; Schema: public; Owner: temple
--

COPY public.room_category (id, description, is_active, name) FROM stdin;
1	Non Air Conditioned Room	t	NON_AC
2	Air Cooled Room	t	AIR_COOLED
3	AC Room	t	AC
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: temple
--



--
-- Name: abhishek_master_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.abhishek_master_id_seq', 1, true);


--
-- Name: amenity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.amenity_id_seq', 2, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 40, true);


--
-- Name: donation_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.donation_audit_id_seq', 14, true);


--
-- Name: donation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.donation_id_seq', 15, true);


--
-- Name: donation_purpose_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.donation_purpose_audit_id_seq', 6, true);


--
-- Name: donation_purpose_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.donation_purpose_id_seq', 5, true);


--
-- Name: inventory_item_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.inventory_item_audit_id_seq', 6, true);


--
-- Name: inventory_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.inventory_item_id_seq', 4, true);


--
-- Name: receipt_sequence_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.receipt_sequence_id_seq', 3, true);


--
-- Name: rental_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.rental_id_seq', 5, true);


--
-- Name: rental_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.rental_item_id_seq', 8, true);


--
-- Name: rental_receipt_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.rental_receipt_seq', 8, true);


--
-- Name: rental_return_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.rental_return_id_seq', 4, true);


--
-- Name: room_amenity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.room_amenity_id_seq', 1, false);


--
-- Name: room_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.room_audit_id_seq', 11, true);


--
-- Name: room_booking_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.room_booking_audit_id_seq', 22, true);


--
-- Name: room_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.room_booking_id_seq', 9, true);


--
-- Name: room_booking_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.room_booking_seq', 10, true);


--
-- Name: room_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.room_category_id_seq', 3, true);


--
-- Name: room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.room_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: temple
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: abhishek_master abhishek_master_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.abhishek_master
    ADD CONSTRAINT abhishek_master_pkey PRIMARY KEY (id);


--
-- Name: amenity amenity_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.amenity
    ADD CONSTRAINT amenity_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: damaged_inventory damaged_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.damaged_inventory
    ADD CONSTRAINT damaged_inventory_pkey PRIMARY KEY (inventory_item_id);


--
-- Name: donation_audit donation_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.donation_audit
    ADD CONSTRAINT donation_audit_pkey PRIMARY KEY (id);


--
-- Name: donation donation_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.donation
    ADD CONSTRAINT donation_pkey PRIMARY KEY (id);


--
-- Name: donation_purpose_audit donation_purpose_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.donation_purpose_audit
    ADD CONSTRAINT donation_purpose_audit_pkey PRIMARY KEY (id);


--
-- Name: donation_purpose donation_purpose_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.donation_purpose
    ADD CONSTRAINT donation_purpose_pkey PRIMARY KEY (id);


--
-- Name: gotra gotra_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.gotra
    ADD CONSTRAINT gotra_pkey PRIMARY KEY (id);


--
-- Name: inventory_item_audit inventory_item_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.inventory_item_audit
    ADD CONSTRAINT inventory_item_audit_pkey PRIMARY KEY (id);


--
-- Name: inventory_item inventory_item_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.inventory_item
    ADD CONSTRAINT inventory_item_pkey PRIMARY KEY (id);


--
-- Name: receipt_sequence receipt_sequence_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.receipt_sequence
    ADD CONSTRAINT receipt_sequence_pkey PRIMARY KEY (id);


--
-- Name: rental_item rental_item_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.rental_item
    ADD CONSTRAINT rental_item_pkey PRIMARY KEY (id);


--
-- Name: rental rental_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.rental
    ADD CONSTRAINT rental_pkey PRIMARY KEY (id);


--
-- Name: rental rental_receipt_number_key; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.rental
    ADD CONSTRAINT rental_receipt_number_key UNIQUE (receipt_number);


--
-- Name: rental_return rental_return_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.rental_return
    ADD CONSTRAINT rental_return_pkey PRIMARY KEY (id);


--
-- Name: room_amenity room_amenity_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_amenity
    ADD CONSTRAINT room_amenity_pkey PRIMARY KEY (id);


--
-- Name: room_audit room_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_audit
    ADD CONSTRAINT room_audit_pkey PRIMARY KEY (id);


--
-- Name: room_booking_audit room_booking_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_booking_audit
    ADD CONSTRAINT room_booking_audit_pkey PRIMARY KEY (id);


--
-- Name: room_booking room_booking_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_booking
    ADD CONSTRAINT room_booking_pkey PRIMARY KEY (id);


--
-- Name: room_category room_category_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_category
    ADD CONSTRAINT room_category_pkey PRIMARY KEY (id);


--
-- Name: room room_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_pkey PRIMARY KEY (id);


--
-- Name: room_booking uk6g06nhvk7dcedj0ihvop8y1ea; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_booking
    ADD CONSTRAINT uk6g06nhvk7dcedj0ihvop8y1ea UNIQUE (booking_number);


--
-- Name: donation uk_receipt_number; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.donation
    ADD CONSTRAINT uk_receipt_number UNIQUE (receipt_number);


--
-- Name: receipt_sequence uk_receipt_series_year; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.receipt_sequence
    ADD CONSTRAINT uk_receipt_series_year UNIQUE (series, year);


--
-- Name: room uk_room_number; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT uk_room_number UNIQUE (room_number);


--
-- Name: receipt_sequence ukfn53vi9kj7sn0gn1ajbn5isn0; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.receipt_sequence
    ADD CONSTRAINT ukfn53vi9kj7sn0gn1ajbn5isn0 UNIQUE (series, year);


--
-- Name: gotra uknpfse03m0cy1apr3123qpw8y3; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.gotra
    ADD CONSTRAINT uknpfse03m0cy1apr3123qpw8y3 UNIQUE (english_name);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: amenity uktojea3b0gq1a796dt56ml4xdr; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.amenity
    ADD CONSTRAINT uktojea3b0gq1a796dt56ml4xdr UNIQUE (name);


--
-- Name: room_category ukx40ly3egoqcedmnukxocl3pq; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_category
    ADD CONSTRAINT ukx40ly3egoqcedmnukxocl3pq UNIQUE (name);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_rental_item_rental_id; Type: INDEX; Schema: public; Owner: temple
--

CREATE INDEX idx_rental_item_rental_id ON public.rental_item USING btree (rental_id);


--
-- Name: idx_rental_receipt; Type: INDEX; Schema: public; Owner: temple
--

CREATE INDEX idx_rental_receipt ON public.rental USING btree (receipt_number);


--
-- Name: idx_rental_return_rental_id; Type: INDEX; Schema: public; Owner: temple
--

CREATE INDEX idx_rental_return_rental_id ON public.rental_return USING btree (rental_id);


--
-- Name: idx_rental_status; Type: INDEX; Schema: public; Owner: temple
--

CREATE INDEX idx_rental_status ON public.rental USING btree (status);


--
-- Name: room_amenity fkaj52mcu9d5c3dglfx9f07qi94; Type: FK CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_amenity
    ADD CONSTRAINT fkaj52mcu9d5c3dglfx9f07qi94 FOREIGN KEY (amenity_id) REFERENCES public.amenity(id);


--
-- Name: room_amenity fkehqkxcxw77umgbfgk0sbwbly1; Type: FK CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_amenity
    ADD CONSTRAINT fkehqkxcxw77umgbfgk0sbwbly1 FOREIGN KEY (room_id) REFERENCES public.room(id);


--
-- Name: room_booking fkiwt0ws97ta91ukd4xonewjbxl; Type: FK CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room_booking
    ADD CONSTRAINT fkiwt0ws97ta91ukd4xonewjbxl FOREIGN KEY (room_id) REFERENCES public.room(id);


--
-- Name: room fkn0ob94w07v5iwboglwhu1crng; Type: FK CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT fkn0ob94w07v5iwboglwhu1crng FOREIGN KEY (category_id) REFERENCES public.room_category(id);


--
-- Name: rental_item rental_item_rental_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.rental_item
    ADD CONSTRAINT rental_item_rental_id_fkey FOREIGN KEY (rental_id) REFERENCES public.rental(id);


--
-- Name: rental_return rental_return_rental_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: temple
--

ALTER TABLE ONLY public.rental_return
    ADD CONSTRAINT rental_return_rental_id_fkey FOREIGN KEY (rental_id) REFERENCES public.rental(id);


--
-- PostgreSQL database dump complete
--

\unrestrict rybjtHFWeg9uCXsPly6LmqSnaja0Mb7lRVmyzqSdOQcdAXyvuzooiHJj63nzTTX

